.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  background: var(--black);
  color: var(--white);
}

.container p {
  font-size: var(--text-sm);
  padding: 0 50px;
}

@media (max-width: 768px) {
  .container p {
    padding: 0 2rem;
  }
}