.container {
  width: 100%;
  display: flex;
  gap: 4rem;
  padding: 5rem 1rem;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  justify-content: center;
}

.section_main, .section {
  display: flex;
  align-items: center;
}

.section {
  gap: 4rem;
}

.section_main {
  gap: 1rem;
}

.section_main div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.section_main div h1 {
  font-size: 1rem;
}

.section_main div p {
  font-size: 14px;
  color: #AAAAAA;
}

.separator {
  height: 50px;
  width: 2px;
  background: #000;
}

@media (max-width: 1050px) {
  .container,
  .section {
    gap: 2rem;
  }
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }
  
  .section {
    flex-direction: column;
  }

  .separator {
    width: 25px;
    height: 2px;
  }
}