.container,
.bag_items,
.bag_info_prices {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.bag_items {
  gap: 24px;
  max-height: 600px;
  overflow-y: auto;
}

.bag_items::-webkit-scrollbar-thumb {
  background: #EEEEEE;
  border-radius: 10px;
}

.bag_items::-webkit-scrollbar {
  background: 0;
  width: 5px;
}

.bag_info_prices {
  border-radius: 2.5px;
  background: #FAFAFA;
  border: 1px solid rgba(0, 0, 0, 0.11);
  gap: 0px;
}

.bag_info_prices .spaceBetween, .shipments {
  padding: 20px;
}

.bag_info_prices div:last-child {
  font-weight: 500;
}

.bag_p_container {
  display: flex;
  gap: 1.2rem;
}

.bag_p_image {
  height: fit-content;
  background: #f6f6f6;
  border-radius: 2.5px;
  max-width: 80px;
  width: 100%;
  padding: 5px;
}

.bag_p_image img {
  width: 100%;
  height: auto;
}

.bag_p_info,
.bag_p_info_main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bag_p_info_main {
  width: 100%;
  justify-content: start;
  gap: 10px;
}

.bag_p_name {
  font-weight: 500;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
}

.bag_p_size,.bag_p_total {
  color: #ccc;
  font-size: 14px;
}

.bag_p_total {
  display: flex;
}

.shipments   {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shipment_options {
  display: flex;
  font-size: 14px;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
}


.input_container {
  max-width: 250px;
  display: flex;
  align-items: center;
  font-weight: 400;
  gap: 10px;
}

.open_bag,
.bag_items_closed {
  display: none;
}

.shipment_options bdi,
.bag_info_prices .spaceBetween:first-child bdi {
  font-weight: 400;
}

@media (max-width: 768px) {
  /* .open_bag {
    display: flex;
    gap: 5px;
    font-size: 1rem;
    background: 0;
    border: 0;
    color: #aaa;
    align-items: center;
  }

  .open_bag svg {
    transition: transform 150ms;
  }

  .open svg {
    transform: rotate(90deg);
  }

  .close svg {
    transform: rotate(-90deg);
  } */
}