.container {
  min-width: 175px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  background: #f6f6f6;
}

.item {
  color: #000;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}

.item:last-child {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  padding: 5px;
  color: #aaa;
}

.item_sub, .active {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 2.5px;
}

.active {
  background: #eee;
}