/*? MENU STYLE*/

.social_media {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.menu {
  z-index: 999;
  position: relative;
}

.menu_closed {
  display: none;
}

.menu_open {
  display: flex;
}

.menu_container, .menu_off,
.bag_container, .bag_off {
  height: 100vh;
  height: 100dvh;
  /* min-width: calc(100vh - 80px); */
}

.menu_container, .menu_off {
  z-index: 1000;
  position: absolute;
  max-width: 450px;
  width: 100%;
  background: #fff;
  transition: all 549ms cubic-bezier(.4,.4,0,1);
}

.menu_container {
  animation: open_left 549ms cubic-bezier(.4,.4,0,1);
}

.menu_off {
  animation: close_left 549ms cubic-bezier(.4,.4,0,1);
}

@keyframes open_left {
  0% {
    transform: translateX(-500px);
  } 100% {
    transform: translateX(0);
  }
}

@keyframes close_left {
  0% {
    transform: translateX(0);
  } 100% {
    transform: translateX(-500px);
  }
}

.m_container {
  position: sticky;
  top: 0;
}

.m_container,
.b_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 2rem;
}

.m_head_container,
.m_bottom_container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.m_head {
  display: flex;
  justify-content: flex-end;
}

.m_close_button {
  background: none;
  border: none;
  cursor: pointer;
}

.m_body {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  min-height: 400px;
  height: 100%;
}

.m_options {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.m_route {
  font-weight: 500;
  width: 100%;
  color: var(--black);
  text-decoration: none;
  display: flex;
  background: none;
  border: 0;
  font-size: 1rem;
}

.m_route svg {
  transition: transform 150ms;
}

.dropDown {
  padding: 2rem 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.m_route:hover {
  opacity: 0.7;
}

.svgOn svg {
  transform: rotate(90deg);
}

.svgOff svg {
  transform: rotate(-90deg);
}

/*? BAG STYLE*/

.menu {
  position: sticky;
}

.menu_closed {
  display: none;
}

.menu_open {
  display: flex;
}

.bag_container, .bag_off {
  z-index: 1000;
  position: absolute;
  right: 0;
  max-width: 450px;
  width: 100%;
  background: #fff;
  transition: all .5s ;
}

.bag_container {
  animation: open_rigth .5s cubic-bezier(.645, .045, .355, 1);
}

.bag_off {
  animation: close_rigth .5s cubic-bezier(.645, .045, .355, 1);
}

@keyframes open_rigth {
  0% {
    transform: translateX(500px);
  } 100% {
    transform: translateX(0);
  }
}

@keyframes close_rigth {
  0% {
    transform: translateX(0px);
  } 100% {
    transform: translateX(500px);
  }
}

.b_head_container {
  display: flex;
  justify-content: space-between;
}

.b_top {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.b_head_container h1 {
  font-size: 1.2rem;
  font-weight: 500;
}

.b_body_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  max-height: calc(100vh - 350px);
}

.b_body_container::-webkit-scrollbar {
  display: none;
}

.bag_product_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bag_p_main {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.bag_p_counter_container {
  color: #aaa;
  padding: 5px;
  background: #EEEEEE;
  width: fit-content;
  display: flex;
  gap: 10px;
  border-radius: 2.5px;
  align-items: center;
}

.bag_p_image_container {
  background: #f6f6f6;
  border-radius: 2.5px;
  max-width: 90px;
  width: 100%;
  padding: 5px;
}

.bag_p_image_container img {
  width: 100%;
  height: auto;
}

.bag_p_info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.bag_p_info_top {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.bag_p_info_bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bag_p_info_top div {
  display: flex;
  justify-content: space-between;
}

.bag_p_title {
  font-weight: 500;
}

.bag_p_size {
  font-size: 14px;
  color: #CCC;
}


.bag_p_counter_button,
.bag_p_options button  {
  color: #aaa;
  text-decoration: underline;
  background: 0;
  border: 0;
  cursor: pointer;
}

.bag_p_options button:hover {
  color: #000;
}

.b_bottom {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.b_subtotal {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.b_subtotal p:first-child {
  font-weight: 500;
}

.b_buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.b_btn_checkout,
.b_btn_continue {
  font-size: 14px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 2.5px;
  font-weight: 500;
}

.b_btn_checkout {
  color: #fff;
  background: #000;
}

.b_btn_continue {
  background: #fff;
  color: #000;
  transition: background 150ms;
}

.b_btn_continue:hover {
  background: #EEEEEE;
  transition: background 150ms;
}

@keyframes open_rigth {
  0% {
    transform: translateX(500px);
  } 100% {
    transform: translateX(0);
  }
}


/*? NAVBAR STYLE*/

.nav_models {
  z-index: 900;
  position: sticky;
  top: 0;
}

.nav {
  z-index: 100;
  position: sticky;
  top: 0;
}

.container {
  top: 0;
  position: sticky;
  z-index: 500;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--divider-white);
}

.logo a {
  display: flex;
  align-items: center;
}

.navigation {
  max-width: 1600px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.left_section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.left_section,
.rigth_section {
  width: 100%;
}

.m_button_container,
.rigth_section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.rigth_section {
  gap: 2rem;
}

.m_button {
  cursor: pointer;
  background: 0;
  border: 0;
  height: 18px;
}

.link {
  cursor: pointer;
  position: relative;
  background: 0;
  border: 0;
  color: var(--black);
  font-size: .95rem;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.totalQuantity {
  position: absolute;
  top: -8px;
  right: -10px;
  background: var(--black);
  height: 18px;
  width: 18px;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  font-size: 9px;
}

/*? SEARCH*/

.zIndex_search {
  z-index: 100;
  position: sticky;
  top: 0px;
}

/* .search {
  top: 0;
  z-index: 100;
  position: sticky;
} */

.search_container, .search_off {
  z-index: 997;
  position: absolute;
  top: 41px;
  right: 0;
  width: 100dvw;
  background: #fff;
  transition: all .5s cubic-bezier(.645, .045, .355, 1);
} 

.search_container {
  animation: openY .5s cubic-bezier(.645, .045, .355, 1);
}

.search_off {
  animation: closeY .5s cubic-bezier(.645, .045, .355, 1);
}


@keyframes openY {
  0% {
    transform: translateY(-20px);
  } 100% {
    transform: translateY(0px);
  }
}

@keyframes closeY {
  0% {
    transform: translateY(0px);
  } 100% {
    transform: translateY(-43px);
  }
}

.search_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.s_input_container {
  display: flex;
  gap: 1rem;
  width: 100%;
  max-width: 1600px;
  padding: 0 1rem;
}

.input {
  border: 0;
  background: 0;
  font-size: var(--text-m);
  outline: none;
  width: 100%;
  height: 41px;
}

.input::placeholder {
  color: var(--grey2);
}

@media (max-width: 768px) {
  .navigation {
    padding: 0;
  }
}

@media (max-width: 550px) {
  .left_section {
    align-items: flex-end;
  }

  .container {
    height: fit-content;
    padding: var(--padding-phone);
  }

  a.link {
    display: none;
  }

  .link span {
    display: none;
  }

  .link .icon_res {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .rigth_section {
    gap: 1.5rem;
  }
}