.container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.go_back {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #aaa;
  background: 0;
  border: 0;
}