.product_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

@media (max-width: 768px) {
  .product_list {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(0, auto);
  }
}

@media (max-width: 425px) {
  .product_list {
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(0, auto);
    grid-gap: 1rem;
  }
}

.container * {
  text-decoration: none;
  color: var(--black);
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  position: static;
  text-decoration: none;
  color: #000;
}

.image {
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 2.5px;
  max-width: 100%;
  max-height: 400px;
  height: fit-content;
  background: #fafafa;
}

.image img {
  border-radius: 5px;
  width: 100%;
  height: auto;
  animation: appear 300ms forwards ease;
}

.image img {
  display: none;
}

.image img:first-child {
  display: block;
}

.container:hover img:first-child {
  display: none;
}

.container:hover img:nth-child(2) {
  display: block;
}

@keyframes appear {
  from {
    opacity: 0.95;
  } to {
    opacity: 1;
  }
}

.product_info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product_info p {
  text-align: center;
}

.product_info .name {
  font-size: 1.2rem;
  font-weight: 500;
}

.price {
  height: 31px;
}

.notFound {
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notFound p {
  text-align: center;
  color: #aaa;
  font-size: 2rem;
}