.footer {
  background: var(--black);
  color: var(--white);
  width: 100%;
  padding: 4rem 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.links {
  padding: 0 2rem;
  max-width: 1600px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
}

.section {
  font-size: var(--text-m);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section_items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section_link {
  color: var(--grey);
  text-decoration: none;
  transition: color 150ms;
}

.section_link:not(.noLink):hover {
  color: var(--white);
}

.foot {
  gap: 2rem;
  max-width: 1600px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.foot h1 {
  padding: 0 2rem;
  font-size: var(--text-m);
}

.cards {
  justify-content: center;
  padding: 0 2rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.foot .divider {
  display: none;
}

@media (max-width: 835px) {
  .foot {
    flex-direction: column;
    align-items: center;
  }

  .foot .divider {
    display: block;
  }

  .links {
    flex-direction: column;
    gap: 2rem;
  }

  .cards {
    padding: 0 3rem;
  }
}